<core-header-panel>
  <core-toolbar>
  <div id="header_top" horizontal center-justified layout>
    <%= link_to(posts_path) do%>  
    <paper-button vertical center>사진올리기</paper-button>
    <% end %>
  </div>
  </core-toolbar>
<div class="container" layout vertical center>
 <!-- post list에서 정한 퍼블리쉬 속성 show를 이용하여 all로 지정 --> 
  여그는 메인
</div>

</core-header-panel>
<script>
</script>