<core-header-panel>

  <core-toolbar>
    <paper-tabs id="tabs" selected="all" self-end>
      <paper-tab name="all">All</paper-tab>
      <paper-tab name="favorites">Favorites</paper-tab>
    </paper-tabs>
  </core-toolbar>

  <div class="container" layout vertical center>
   <!-- post list에서 정한 퍼블리쉬 속성 show를 이용하여 all로 지정 -->
    <post-list show="all"></post-list>

  </div>

</core-header-panel>