/* line 1, /home/ksk/rails_dev/polymer-tutorial/app/assets/stylesheets/main.scss */
html, body {
  height: 100%;
  margin: 0;
  background-color: #E5E5E5;
  font-family: 'RobotoDraft', sans-serif;
}

/* line 8, /home/ksk/rails_dev/polymer-tutorial/app/assets/stylesheets/main.scss */
.container {
  width: 80%;
  margin: 50px auto;
}

@media (min-width: 481px) {
  /* line 14, /home/ksk/rails_dev/polymer-tutorial/app/assets/stylesheets/main.scss */
  #tabs {
    width: 200px;
  }

  /* line 17, /home/ksk/rails_dev/polymer-tutorial/app/assets/stylesheets/main.scss */
  .container {
    width: 400px;
  }
}
/* line 22, /home/ksk/rails_dev/polymer-tutorial/app/assets/stylesheets/main.scss */
core-header-panel {
  height: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}

/* line 27, /home/ksk/rails_dev/polymer-tutorial/app/assets/stylesheets/main.scss */
core-toolbar {
  background: #03a9f4;
  color: white;
}

/* line 31, /home/ksk/rails_dev/polymer-tutorial/app/assets/stylesheets/main.scss */
#tabs {
  width: 100%;
  margin: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  text-transform: uppercase;
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *


 */

