<core-header-panel>
  <core-toolbar class="medium-tall">
  <div id="header_top" horizontal center-justified layout>
      <%= link_to(root_path) do%>
    <paper-button>메인</paper-button>
      <% end %>
  </div>
    <paper-tabs id="tabs" class="bottom" selected="all"self-end>
    <paper-tab name="all">All</paper-tab>
    <paper-tab name="favorites">Favorites</paper-tab>
    </paper-tabs>    
  </core-toolbar>
<div class="container" layout vertical center>
 <!-- post list에서 정한 퍼블리쉬 속성 show를 이용하여 all로 지정 -->
 <post-list show="all"></post-list>

<%=link_to(new_post_path) do%>
<paper-fab icon="create" class="blue" title="create" aria-label="create" tabindex="0" role="button"></paper-fab>
<% end %>
</div>

</core-header-panel>
<script>
(function index(){
  var tabs = document.querySelector('paper-tabs');
  var list = document.querySelector('post-list');
    tabs.addEventListener('core-select', function() {
      console.log("Selected: " + tabs.selected);
      list.show = tabs.selected;
    });
})()
</script>
