/*component*/
html /deep/ #mainContainer{
  background-color: #fff;
}
html /deep/ core-toolbar{
  background-color: #fff;
  color: #000;
  font-weight: 700;
  -webkit-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  -ms-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  -o-box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 5px 6px -3px rgba(0, 0, 0, 0.4);
  z-index: 1;
}

/*all*/
*{
  text-decoration: none;
  list-style: none;
}
main{
  padding: 0 5px 5px 5px;
}
.stack_list{
  list-style: square; 
}
.player_list{
  display: inline-block;
}
h2,h3{
  font-weight: 700 !important;
}
h3{
  padding-top: 1rem !important;
}
.yt_preview{
  cursor: pointer;
}

/*profile*/
#profile > #profile_top_form > #profile_img > img{
  margin: 2rem 0 0.75rem 0;
  border-radius: 50%;
  width: 8rem;
}
#profile_top_form{
  display: inline-block;
  width: 100%;
}
.profile_top{
  display: block;
  table, td{
    border-width: 0 0.3rem 0.3rem 0.3rem;
    border-style: solid;
    border-color: #fff;
  }
}
.profile_content{
  text-align: center;
  padding: 0.65rem 0;
}
#profile_mini_intro{
  font-style: italic;
  margin-bottom: 10px;
  text-align: center;
  font-size: 0.8rem;
  color: #666;
}
#gitaccount{
  color: #000;
}
#button-copy{
  margin: 0 0.3rem;
  width: 0.8rem;
  height: 0.8rem;
}
/*skil*/
.skil_list_form{
  display: inline-block;
  width: 100%;
}
.skil_list{
  background: rgba(0,0,0,0.1);
  border-radius: 1rem;
  /*display: inline-block;*/
  float: left;
  margin:0.35rem 1rem;
  padding: 0.5rem;
}
/*introduce*/
.introduce_list{
  text-align: left;
  padding: 0.5rem;
  list-style: decimal;
}
.introduce_list,p{
  line-height: 1.9rem;
}
/*portfoilo*/
.player_list .img_list{
  display: inline-block;
  float: left;
  width: 13.5rem;
  img{
    width: 13.5rem;
  }
}
paper-button{
  background: rgba(0,0,0,0.8);
}
hr, hr.paragraph{
  width:95%;
}
.paragraph{
  border: 0;
  color: rgba(0,0,0,0.075);
  background-color: rgba(0,0,0,0.075);
  height: 0.1rem;
}
#myChart{
  padding-top: 1rem;
}

 #chartjs-tooltip {
    opacity: 1;
    position: absolute;
    background: rgba(0, 0, 0, .7);
    color: white;
    padding: 3px;
    border-radius: 3px;
    -webkit-transition: all .1s ease;
    transition: all .1s ease;
    pointer-events: none;
    -webkit-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
}
.chartjs-tooltip-key{
  display:inline-block;
  width:10px;
  height:10px;
}
@media (min-width: 768px){
  main{
    padding:0 10px 10px 10px; 
  }
  h4{
    margin-top: 0.75rem;
  }
}

@media (min-width: 992px){
  main{
    padding:0 15px 15px 15px;
  }
  h3,h4,p{
    text-align: left;
  }
  h4{
    margin-top: 0.75rem;
  }
}